<?xml version='1.0' encoding='UTF-8'?>
<settings xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
          xmlns='http://maven.apache.org/SETTINGS/1.0.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
    <mirrors>
        <mirror>
            <id>nexus</id>
            <url>https://imagehub.cdc.gov/repository/maven-ede-group/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
	    <id>nexus</id>
	    <properties>
                <maven-snapshot-url>https://imagehub.cdc.gov/repository/maven-ede-snapshot/</maven-snapshot-url>
                <maven-releases-url>https://imagehub.cdc.gov/repository/maven-ede/</maven-releases-url>
            </properties>
            <repositories>
                <repository>
                    <id>nexus</id>
                    <url>https://imagehub.cdc.gov/repository/maven-ede-group/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
    <servers>
        <server>
            <id>nexus</id>
            <username>+user-id+</username>
            <password>+password+</password>
        </server>
    </servers>
</settings>
